{%extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token%}
            <!-- adds security to the form -->
            <fieldset class="form-group">
            <!-- for related groups in the form -->
                <legend class ="border-bottom mb-4">Password Reset Confirm</legend>    
                {{form| crispy}}
                <!-- Applying Crispy Filter to the form -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}