{%extends "blog/base.html" %}

{% block content %}
    <style>body {
        font-family: 'Times New Roman', serif;
      }</style>
    <div class=" container">
    <h2>About Site:</h2>
    <h5>CP-Blogs !</h5> <p> Share your thoughts ,algorithms ,codes problems and many other interesting ideas with folks on this amazing platform !</p>
    <h2>About Us:</h2>
    <h5>Deveoper's contact </h5>
    <h6>Email:</h6>
    <!-- <p class=" small">sangramjagadale2017@gmail.com</p> -->
    <a href="#" class="small">sangramjagadale2017@gmail.com </a>
    <h6>Phone:</h6>
    <a href="#" class="small">9146125236</a>
    <h6>LinkedIn:</h6>
    <a href="https://www.linkedin.com/in/sangram-jagadale-b28537198/" class="small">linked-in profile</a>

    </div>

{% endblock content %}